 
@font-face {
   font-family: 'Techno Board Regular';
   font-style: normal;
   font-weight: normal;
   src: local('Techno Board Regular'), url('TechnoBoard-519Ej.woff') format('woff');
   }

h1 {
	font-family: 'Techno Board Regular';
	font-weight: 400 ;
	color: #00c9b7 ;
	

}
